@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");

.news_outline_wrap {
  position: relative;
  top: -345px;
  width: 75%;
  margin: 40px auto 0px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  justify-content: center;
  margin-bottom: -300px;
}

.news_wrap {
  display: flex;
  flex-wrap: wrap;
  aspect-ratio: 29/30;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.img_box {
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 50%;
  overflow: hidden;
}

.news_image {
  width: 100%;
  transform: scale(1, 1);
  transition: all 0.3s ease-out;
}

.news_wrap:hover .news_image {
  transform: scale(1.15, 1.15);
}

#news_title {
  width: 100%;
  background-color: white;
  font-family: "Noto Sans TC", sans-serif;
  padding: 5px 5px;
}

.news_type_and_news_date {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: white;
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 400;
}

#news_type {
  padding: 5px 5px;
}

#news_date {
  flex: 1;
  text-align: end;
  padding: 5px 5px;
}

#news_link {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1200px) {
  .news_outline_wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .news_outline_wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
