.news_article_wrap {
  position: relative;
  top: -345px;
  width: 78%;
  margin: 40px auto 0px auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5%;
  justify-content: center;
  margin-bottom: -300px;
}
